* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    line-height: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #baffba;
    border-bottom: 1px solid #baffba;
    align-items: center;
}
select {
    height: 30px;
}
main {
    background-color: #bbb;
    overflow: auto;
    height: calc(100vh - 151px);
}
.container {
    max-width: 1170px;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;

}

.card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    img {
        max-width: 100%;
    }
}
h1 {
    display: inline-block;
}

h2 {
    font-size: 1em;
    font-weight: 400;
    color: #baffba;

}
h3 {
    font-size: 0.9em;
    font-weight: 400;
    color: #baffba;

}
footer {
    border-top: 1px solid #baffba;
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: black;
    color: #baffba;
}
